#container-1{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(91, 91, 214);
}
.col-md-2{
   color: white;
   text-align: center;
}
.col-md-2:hover{
    cursor: pointer;
    font-weight: bold;
}
.col-3{
    width: 200px;
    background-color: rgb(91, 91, 214);
    padding : 30px;
    margin-top: 20px;
    border: 2px solid black;
}
.row-2{
    padding: 20px;
}
.col-7{
    margin-top: 30px;
}