<div class="row" id="container-1">
    <div class="col-md-2"> Home</div>
    <div class="col-md-2"> About</div>
    <div class="col-md-2"> Search</div>
    <div class="col-md-2"> Contact</div>
    <div class="col-md-2">Features</div>
    <div class="col-md-2"> Login</div>
</div>
<div class="row" id="container-2">
<div class="col-3">
<div class= "row-2"><button routerLink="addition">Addition</button></div>
<div class="row-2"><button routerLink="substraction">Substraction</button></div>
<div class="row-2"> <button routerLink="multiplication">Multiplication</button></div>
<div class= "row-2"><button routerLink="division">Division</button></div>
</div>
<div class="col-7">
    Addition of 'X' & 'Y'  
    <br><br>
    Substraction of 'X' & 'Y'
    <br><br>
    Multiplication of 'x' & 'y' 
    <br><br>
   Division of 'x' & 'y' 
</div>
</div>