#box{
    margin:0 auto;
    height: 300px;
    width: 350px;
    padding-left: 65px;
    padding-top: 30px;
    border: 2px solid black;
}
input{
    margin-top: 5px;
    margin-top: 5px;
}
.button{
    width: 150px;
    height: 30px;

}