#box{
    margin:0 auto;
    height: 440px;
    width: 350px;
    background-color: rgb(115, 224, 115);
    padding-left: 65px;
    padding-top: 30px;
}
input{
    margin-top: 5px;
    margin-top: 5px;
}
.button{
    width: 150px;
    height: 30px;

}